{% extends 'base.html' %}

{% block title %}User Registration{% endblock title %}

{% block body %}
    {% block content %}
    <form method="POST">
        {% csrf_token %}

        {% with form=registration_form %}
            {% include 'components/form-renderer.html' %}
        {% endwith %}

        <button class="px-4 py-2 bg-gray-900 text-white">Register</button>

        <a class="text-gray-400 hover:underline" href="{% url 'accounts:login' %}">login here</a>
    </form>
    {% endblock content %}
{% endblock body %}
