<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

    <title>
      {% block title %}Library Management System{% endblock title %}
    </title>
  </head>
  <body>
    {% block body %}
      <div class="h-screen">
        {% include 'components/navbar.html' %}

        <main class="z-10">
          <div>
            {% if messages %}
              {% for message in messages %}
                  {% include 'components/messages.html' %}
              {% endfor %}
            {% endif %}
          </div>
  
          <div class="container mx-auto py-4 h-full">
            {% block content %}
            {% endblock content %}
          </div>
        </main>
      </div>
    {% endblock body %}
  </body>
</html>
